<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite thread-count="2" verbose="1" time-out="300000" name="FabHotels Test Automation"
	annotations="JDK" parallel="false">

	<listeners>
		<listener class-name="utils.ListenerTest"></listener>
	</listeners>

	<test name="Native Android App Testing">
		<classes>
			<class name="tests.Native_Fab_specs">
				<methods>
					<include name="countLocalitiesAndHotels" />
					<include name="verifyContactNumber" />
					<include name="verifyCoupon" />
					<include name="SearchFormScreenCount" />

				</methods>
			</class>
		</classes>
	</test>
	
	<test name="Web Based Testing">
		<classes>
				<class name="tests.Web_Fab_specs">
				<methods>
					<include name="Web_Fab_specs" />
				</methods>
			</class>
		</classes>
	</test>
</suite>